.forms-group > label {
    display: block;
    
   
}
.container {
    border: 10px;
    background-color: rgba(235, 225, 225, 0.445);
}
.container > div {
    width: 250px;
    border: 2px solid rgb(141, 136, 136);
    height: 550px;
    margin-inline: auto;
    padding: 15px;
    background-color: white;
}

.container > div button {
    width: 70%;
    height: 40px
}
button {
    background-color: wheat ;
    

animation-name: შესვლა;
animation-duration: 8s;
}
@keyframes შესვლა {
from {background-color: blue;}
to {background-color: rgb(9, 255, 0);}
}